input {
    width: 150px;
    height: 100px;
    font-size: 75px;
    border-radius: 30px;
    margin: 10px;
    background-color: #000;
    color: #fff;
    border-style: none;
}

#myform {
    margin-left: 24%;
    background-color: #919490;
    width:53%;
    /*border: medium solid purple;*/
}

h1{
    text-align: center;
    font-size: 80px;
    margin-right: 150px;
    margin-top: 20px;
    background-color: #97A6CF;
    width:100%;
}

#disp{
width: 675px;
height: 100px;
text-align: center;
background-color: #4867AA;
}